@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v6/o-0IIpQoyXQa2RxT7-5r5TRF.ttf) format('truetype');
}
/* ============================================================================= COLORS */
/* =============================================================================ELEMENT COLORS */
/* DEFAULT NAV ICON COLORS */
/* LOGIN*/
/* SAVE*/
/* FOLDER */
/* LINK */
/* DEFAULT LINK CARD ICON COLOR */
/* MODAL */
/* ============================================================================= GLOBAL */
* {
  box-sizing: border-box;
}
body {
  background-color: #f2fdfc;
  margin: 0;
  font-family: "catamaran";
}
[contentEditable] {
  outline: none;
}
button,
input,
select,
textarea {
  font-family: "catamaran" !important;
  font-size: 1em !important;
}
/* ======================================= Scroll bars */
*::-webkit-scrollbar {
  width: 0.4em;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
/* ============================================================================= NAV Component */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #d9e3e2;
  border-bottom: 1px dashed #5e5e5e;
  box-shadow: 0 0 6px white;
}
.logo {
  width: 100px;
  transform: translate(12px, 6px);
}
nav .bookmarker {
  text-align: left;
  margin-left: 1.4em;
  color: #020a6d;
  margin: 0.3em 0 0.3em 0.8em;
}
nav h1 {
  margin: 0.1em 0 0 0.2em;
  font-size: 2.3em;
  line-height: 1em;
  text-shadow: 0 0 6px #094804;
  font-family: 'Pacifico', cursive;
}
.searchDiv {
  flex-grow: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.searchInput {
  padding: 0.2em 0.6em;
  margin: 0.3em 0;
  border: 0;
  border-radius: 15px;
  width: 60%;
  font-size: 1.4em;
}
.navIcon {
  font-size: 2.5em !important;
  margin: 0.1em 0.3em;
  color: white;
  cursor: pointer;
}
/* SEARCH */
.navIcon.search {
  font-size: 1.8em !important;
  margin: 0.35em 0.3em 0;
}
/* LOGIN */
.navIcon.login:hover {
  color: #a7b3cf;
  cursor: pointer;
}
.navIcon.login.logged {
  color: #0a9507;
}
.navIcon.login.logged:hover {
  color: #46c743;
}
/* SAVE */
.navIcon.save.disabled {
  color: #a7b3cf;
  cursor: default;
}
.navIcon.save.disabled:hover {
  color: #a7b3cf;
  cursor: default;
}
.navIcon.save {
  color: red;
  transition: color 2s;
}
.navIcon.save:hover {
  color: orange;
}
/* FOLDER */
.navIcon.folderAdd {
  color: #ddc70e;
}
.navIcon.folderAdd:hover {
  color: #e3d23e;
}
/* LINK */
.navIcon.linkAdd {
  font-size: 1.5em !important;
  margin: 0.55em 0.3em 0;
  color: #2563e1;
}
.navIcon.linkAdd:hover {
  color: #5082e7;
}
.order_selects {
  position: absolute;
  bottom: -2em;
  right: 0.5em;
}
.order_selects select {
  border: 0;
  outline: 0;
}
/* ============================================================================= FORMS */
.logBtn {
  border: 0;
  border-radius: 6px;
  background-color: #a7b3cf;
  padding: 0.6em;
  margin: 0.6em;
  box-shadow: 0 0 6px white;
  font-weight: bold;
}
.logBtn:hover {
  background-color: #748fcc;
}
.alignRight {
  width: 100%;
  text-align: right;
  padding: 0 0.5em 0 0;
}
.NavLink {
  text-decoration: none;
  color: #748fcc;
  cursor: pointer;
}
/* ============================================================================= Tabbed_Categories Component */
.tabs_container {
  width: 100%;
  margin: 2em 0 0 0 !important;
}
.RRT__panel {
  width: 100%;
  border: 0;
  border-top: 1px dashed lightgrey;
}
.RRT__panel > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.RRT__tab {
  background: #d9e3e2;
  border-radius: 10px 10px 0 0;
  margin: 0 0.1em;
  border: 0;
  color: grey;
  text-shadow: 0 0 4px grey;
  user-select: none;
}
.RRT__tab--selected,
.RRT__tab--selected:focus {
  background: #f5fb9f;
  transform: none;
  font-weight: bold;
  font-size: 1.1em;
  color: grey;
  text-shadow: none;
  line-height: 1.45em;
}
.RRT__tab:hover,
.RRT__tab--selected:hover {
  background: #eefc2c;
  color: grey;
  text-shadow: none;
  font-weight: bold;
}
/* ============================================================================= Tabbed_Links Component */
.link_card {
  border: 1px solid #020a6d;
  border-radius: 6px;
  padding: 8px;
  margin: 4px;
  width: 300px;
  height: 400px;
  position: relative;
}
.link_name {
  font-weight: bold;
  font-size: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 1.5em);
}
.link_img {
  width: 100%;
  text-align: center;
}
.link_img img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.link_title {
  position: relative;
}
.linkCardIcon {
  font-size: 1.1em !important;
  position: absolute;
  right: 0.15em;
  bottom: 0.4em;
  color: #a7b3cf;
  cursor: pointer;
}
.ratingDiv {
  position: relative;
  margin: 0.7em 0 0;
}
.Link_comment_Div {
  overflow-y: scroll;
  height: 100px;
}
.quill_Div {
  display: none;
}
.Quill_in_modal {
  min-width: 100%;
  display: block !important;
}
.link_card h1 {
  margin: 0;
}
/* ==================================== Drag icon */
/* ====== Took from https://gist.github.com/JakeSidSmith/9d986e8eb05dc4ac1197877705654504 */
/* ====== CodePen: https://jsfiddle.net/7Ldmmrjd/1/ */
span.dragIcon {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -1px;
  left: -1px;
  background: #f2fdfc;
}
span.dragIcon,
span.dragIcon::before,
span.dragIcon::after {
  background-image: radial-gradient(#020a6d 40%, transparent 40%);
  background-size: 4px 4px;
  background-position: 0 100%;
  background-repeat: repeat-x;
}
span.dragIcon::before,
span.dragIcon::after {
  content: '';
  display: block;
  height: 33%;
}
span.dragIcon::before {
  width: 33%;
  margin-left: 66%;
}
span.dragIcon::after {
  width: 66%;
  margin-left: 33%;
}
/* ============================================================================= Modal Component */
.modal_overlay {
  position: fixed;
  top: 3.1em;
  /* Should be adjusted to the nav height */
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 !important;
}
.modal {
  max-width: 275px;
  margin: 10% auto;
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 15px;
}
.blurred {
  filter: blur(5px);
}
.error {
  color: red;
  display: none;
}
.error.shown {
  display: inline;
}
/* ============================================================================= Unsaved Component */
.fctBtn {
  border: 0;
  border-radius: 6px;
  background-color: #a7b3cf;
  padding: 0.6em;
  margin: 0.6em;
  box-shadow: 0 0 6px white;
  font-weight: bold;
}
.fctBtn:hover {
  background-color: #748fcc;
}
/* ============================================================================= Page component */
.page {
  margin-top: 3.1em;
  /* Should be adjusted to the nav height */
  padding: 0.5em;
  display: flex;
}
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  color: #826d6f;
}
.page > div {
  margin: 1em 0.5em;
}
li {
  list-style: none;
  margin: 0;
  position: relative;
}
.legal {
  font-size: 0.7em;
  font-style: italic;
}
.categoryDisplay {
  padding: 1em 0;
  flex-grow: 2;
}
