@font-face {
  font-family: 'McLaren';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('McLaren'), local('McLaren-Regular'), url(https://fonts.gstatic.com/s/mclaren/v7/2EbnL-ZuAXFqZFXIeYEV9w.ttf) format('truetype');
}
/* ============================================================================= COLORS */
/* =============================================================================ELEMENT COLORS */
/* DEFAULT NAV ICON COLORS */
/* LOGIN*/
/* SAVE*/
/* FOLDER */
/* LINK */
/* DEFAULT LINK CARD ICON COLOR */
/* MODAL */
/* ============================================================================= GLOBAL */
* {
  box-sizing: border-box;
}
body {
  background-color: #f2fdfc;
  margin: 0;
  font-family: 'McLaren', cursive;
}
[contentEditable] {
  outline: none;
}
/* ============================================================================= NAV Component */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #d9e3e2;
  border-bottom: 1px dashed #5e5e5e;
  box-shadow: 0 0 6px white;
}
.logo {
  width: 100px;
}
nav .bookmarker {
  flex-grow: 2;
  text-align: left;
  margin-left: 1.4em;
  color: #ba2d11;
  text-shadow: 0 0 6px #fae1e3;
  margin: 0.3em 0 0.3em 0.8em;
}
nav h1 {
  margin: 0;
}
.navIcon {
  font-size: 2.5em !important;
  margin: 0.1em 0.3em;
  color: white;
  cursor: pointer;
}
/* LOGIN */
.navIcon.login:hover {
  color: #a7b3cf;
  cursor: pointer;
}
.navIcon.login.logged {
  color: #0a9507;
}
.navIcon.login.logged:hover {
  color: #46c743;
}
/* SAVE */
.navIcon.save.disabled {
  color: #a7b3cf;
  cursor: default;
}
.navIcon.save.disabled:hover {
  color: #a7b3cf;
  cursor: default;
}
.navIcon.save {
  color: red;
}
.navIcon.save:hover {
  color: orange;
}
/* FOLDER */
.navIcon.folderAdd {
  color: #ddc70e;
}
.navIcon.folderAdd:hover {
  color: #e3d23e;
}
/* LINK */
.navIcon.linkAdd {
  font-size: 1.5em !important;
  margin: 0.45em 0.3em 0;
  color: #2563e1;
}
.navIcon.linkAdd:hover {
  color: #5082e7;
}
/* ============================================================================= FORMS */
.logBtn {
  border: 0;
  border-radius: 6px;
  background-color: #a7b3cf;
  padding: 0.6em;
  margin: 0.6em;
  box-shadow: 0 0 6px white;
  font-weight: bold;
}
.logBtn:hover {
  background-color: #748fcc;
}
.alignRight {
  width: 100%;
  text-align: right;
  padding: 0 0.5em 0 0;
}
.NavLink {
  text-decoration: none;
  color: #748fcc;
  cursor: pointer;
}
/* ============================================================================= Tabbed_Categories Component */
.tabs_container {
  width: 100%;
}
.RRT__panel {
  display: flex;
  width: 100%;
  border: 0;
  border-top: 1px dashed lightgrey;
}
.RRT__tab {
  background: #d9e3e2;
  border-radius: 10px 10px 0 0;
  margin: 0 0.1em;
  border: 0;
  color: white;
  text-shadow: 0 0 2px grey;
}
.RRT__tab--selected,
.RRT__tab--selected:focus {
  background: #f5fb9f;
  transform: none;
  font-weight: bold;
  font-size: 1.1em;
  color: grey;
  text-shadow: none;
}
.RRT__tab:hover,
.RRT__tab--selected:hover {
  background: #eefc2c;
  color: grey;
  text-shadow: none;
}
/* ============================================================================= Tabbed_Links Component */
.link_card {
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  margin: 4px;
  min-width: 330px;
}
.link_name {
  font-weight: bold;
  font-size: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 1.5em);
}
.link_img {
  width: 100%;
  text-align: center;
}
.link_img img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.link_title {
  position: relative;
}
.linkCardIcon {
  font-size: 1.1em !important;
  position: absolute;
  right: 0.15em;
  bottom: 0.4em;
  color: #a7b3cf;
  cursor: pointer;
}
.ratingDiv {
  position: relative;
  margin: 0.7em 0 0;
}
#quill_Div {
  display: none;
}
#quill_save {
  display: none;
}
.Quill_in_modal {
  min-width: 100%;
  display: block !important;
}
/* ============================================================================= Modal Component */
.modal_overlay {
  position: fixed;
  top: 3.1em;
  /* Should be adjusted to the nav height */
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 !important;
}
.modal {
  max-width: 275px;
  margin: 10% auto;
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 15px;
}
.blurred {
  filter: blur(5px);
}
.error {
  color: red;
  display: none;
}
.error.shown {
  display: inline;
}
/* ============================================================================= Unsaved Component */
.fctBtn {
  border: 0;
  border-radius: 6px;
  background-color: #a7b3cf;
  padding: 0.6em;
  margin: 0.6em;
  box-shadow: 0 0 6px white;
  font-weight: bold;
}
.fctBtn:hover {
  background-color: #748fcc;
}
/* ============================================================================= Page component */
.page {
  margin-top: 3.1em;
  /* Should be adjusted to the nav height */
  padding: 0.5em;
  display: flex;
}
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  color: #826d6f;
}
.page > div {
  margin: 1em 0.5em;
}
li {
  list-style: none;
  margin: 0;
  position: relative;
}
.legal {
  font-size: 0.7em;
  font-style: italic;
}
.categoryDisplay {
  padding: 1em 0;
  flex-grow: 2;
}
