.test{
    background:green;
    border: 3px solid red;
}
.page{
    margin-top: 3.1em;    /* Should be adjusted to the nav height */
    padding: 0.5em;
    display: flex;
}
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6{
    color: #826d6f;
}
.page>div{
    margin: 1em 0.5em;
}
li{
    list-style: none;
    margin: 0;
    position: relative;
}
li a{
    text-decoration: none;
    cursor: pointer;
}
li.link:before{
    position: absolute;
    top: -2px;
    left: -30px;
    content: url(/bookmark.png);
}
li.folder-closed:before{
    position: absolute;
    top: -2px;
    left: -40px;
    content: url(/folder-closed.png);
}
li.folder-closed ul{
    display: none;
}
li.folder-opened:before{
    position: absolute;
    top: -2px;
    left: -40px;
    content: url(/folder-opened.png);
}
li.folder-opened ul{
    display: block;
}
.legal{
    font-size: 0.7em;
    font-style: italic;
}
[contentEditable]{
    outline: none;
}
.liDiv{
    display: inline-block;
}
.categoryTree{
    border-right: 1px solid grey;
    padding-right: 1em;
}
.categoryDisplay{
    padding: 1em 0;
    flex-grow: 2;
}
.catContentLength{
    font-size: 0.6em;
    color: grey;
    font-style: italic;
}